@import "../../../styles/theme";

$padding:               15px;
$bg-color:              #444;
$action-color:          #ccc;

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: $padding;
	background-color: $bg-color;

	> .row {
		text-align: center;

		> .action {
			color: $action-color;
			cursor: pointer;
		}
	}
}