$bg-color:                  #EAEAEA;

.shell-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.shell {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		background-color: $bg-color;
	}
}